<!-- <nav class="navbar navbar-light bg-light">
  <a class="navbar-brand">Quill JS Editor</a>
</nav> -->
<!-- 
<div class="container">
  <h3> Quill JS Editor </h3>
  <div class="row">
    
    <div class="col-md-12">
      <quill-editor [styles]="{height: '300px'}" [modules]="config" (onEditorChanged)="changedEditor($event)"></quill-editor>
    </div>
  </div>

  <h3> Output </h3>
  <div class="row">
    <div class="col-md-8">
      <p [innerHTML]="editorContent"></p>
    </div>
  </div>
</div>  -->


<div class="container">
  <div class="row">

    <div class="col-md-12 bg-light">
      <form [formGroup]="editorForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
          <label for="editor">
            <h3>Quill JS Editor</h3>
          </label>
          <quill-editor [styles]="editorStyle" [modules]="config" formControlName="editor"></quill-editor>
        </div>
        <button class="btn btn-primary mt-3" style="float: right;">Submit</button>
      </form>
    </div>

    <div class="col-md-12 bg-light">
      <h3>Output</h3>
      <p [innerHTML]="editorContent"></p>
    </div>

  </div>
</div>